h1{
  
  color:red;
  background:lightblue;
  
}
#mypic{
  
  border:solid grey 3px;
  border-radius:50px;
  padding:50PX 50PX 50PX 50PX;
  
}
button
{
  color:aqua;
  font-size: x-large;
  font-weight: bold;
  background:darkred;
}
